
       #intro {
        background-image: url("./img/FONDO3.jpg");
        height: 100vh;
      }

      /* Altura para dispositivos de más de 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }

      .nav-item a {
        
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 0.7;
        font-family: sans-serif;
    }

    .a.nav-link.move-scroll:hover {
      background: #ff2727;
      
  }
    

