
       #intro {
        background-image: url("./img/FONDO3.jpg");
        height: 100vh;
      }

      /* Altura para dispositivos de más de 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }

      .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap; 
        
        align-items: center;
        justify-content: space-between;
      }
      .nav-link {
        padding-right: 0;
        padding-left: 0;
      }
    
      .dropdown-menu {
        position: static;
      }
      .navbar-text {
        padding-top:nav-link-padding-y;
        padding-bottom:nav-link-padding-y;
      }
    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
     
      align-items: center;
    }
    /*Botón para alternar la barra de navegación cuando está en su estado contraído */

    .navbar-toggler-icon {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
    
   