
       #intro {
        background-image: url("./img/FONDO3.jpg");
        height: 100vh;
      }

      /* Altura para dispositivos de más de 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }

      